@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Medium.ttf);
}

body {
    background-color: #F6D2D5;
    color: #582323;

    /* Account for header offset */
    padding-top: 10vh;

    /* Roboto font */
    font-family: roboto;
}

#head {
    text-align: center;

    /* Box Sizing */
    width: 15vw;
    padding: 1vh;
    margin: 1vh;

    /* Border Properties */
    border: 1px solid #582323;
    box-sizing: border-box;
    border-radius: 1vh;

    background-color: #F6D2D5;
}


#barbzHeader {
    /* Fix the header to the top of the page */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    background-color: #F49FB7;
    border: 1px solid #582323;
    box-sizing: border-box;
} 

a {
    cursor: pointer;
}

#en {
    text-decoration: underline;
}

.languageMenu {
    position: absolute;
    z-index: 1000;
    bottom: 1.4vw;
    right: 6.0vw;
}

.languageMenu > a {
    margin-right: 10px;
}

.hamburgerMenu {
    position: absolute;
    z-index: 1000;
    top: 2vh;
    right: 1.5vw;
    width: 3vw;
    height: 5.5vh;
    border: 1px solid #582323;
    border-radius: 1vh;
    cursor: pointer;
    background-color: #F6D2D5;
    background-image: url("../images/hamburger-menu.png");
    background-size: 100%;
    outline: none;
}

.hamburgerMenu:hover {
    background-color: #D46993;
    background-image: url("../images/hamburger-menu-white.png");
    border: 1px solid white;
}

.showClose {
    background-image: url("../images/exit.png");
}

.showClose:hover {
    background-color: #D46993;
    background-image: url("../images/exit-white.png");
    border: 1px solid white;
}

.nav {
    position: absolute;
    z-index: 1000;
    top: 0px;
    right: 2vw;
    background-color: #F49FB7;
    width: 13vw;
    height: 30vh;
    overflow: hidden;
    border: 1px solid #582323;
    border-radius: 1vh;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
}

.showNav {
    transform: translateY(35%);
}

.nav ul {
    width: 60%;
    height: 90%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
  
.nav ul li button {
    color: #582323;
    background-color: #F6D2D5;
    border: 1px solid #582323;
    border-radius: 1vh;
    text-decoration: none;
    font-family: roboto;
    font-size: 1.2rem;
    align-items: center;
    width: 10vw;
}
  
.nav ul li button:hover, .navbar ul li button:focus {
    background-color: #D46993;
    color: white;
    border-color: white;
}

#closeSettings {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    background-image: url("../images/exit.png");
    background-size: 100%;
    height: 3.5vh;
    width: 2vw;
    margin-top: 1vh;
    margin-right: 1vw;
    border: 1px solid #582323;
    border-radius: 1vh;
}

#closeSettings:hover {
    background-color: #D46993;
    background-image: url("../images/exit-white.png");
    border: 1px solid white;
}


#settingsInput {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000;
    background-color: #F6D2D5;
    height: 45vh;
    width: 20vw;
    border: 1px solid #582323;
    border-radius: 1vh;
}

#settingsTitle {
    font-size: 25px;
}

#timerSettingsTitle {
    font-size: 20px;
}

#timeSettings {
    font-size: 18px;
}

#saveButton {
    background-color: white;
    height: 3.5vh;
    width: 4vw;
    margin: 1vh;
    border: 1px solid #582323;
    border-radius: 1vh;
}

#saveButton:hover {
    background-color: #D46993;
    border: 1px solid white;
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

#aboutPage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    height: 60vh;
    width: 50vw;
    padding: 5vh;
    background-color: #F49FB7;
    border: 1px solid #582323;
    border-radius: 1vh;
}

#aboutTitle {
    font-size: 25px;
    text-align: center;
    background-color: #F6D2D5;
    border: 1px solid #582323;
    border-radius: 1vh;
    padding: 1vh;
}

#aboutText {
    font-size: 25px;
    text-align: left;
    background-color: #F6D2D5;
    border: 1px solid #582323;
    border-radius: 1vh;
    padding: 1vh;
}

.aboutItems {
    font-size: 20px;
    text-align: left;
}

#closeAbout {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    background-image: url("../images/exit.png");
    background-size: 100%;
    height: 3.5vh;
    width: 2vw;
    margin-top: 1vh;
    margin-right: 1vw;
    border: 2px solid black;
    border-radius: 1vh;
}

#timeBox {  
    /* Border Properties */
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0% 4% 5% rgba(0, 0, 0, 0.25);
    border-radius: 1vh;

    /* Box Sizing */
    width: 40vw;
    height: auto;
    padding: 5vh;
    
    /* Positioning */
    margin: auto;
    position: relative;
    
    /* Color */
    background-color: #F6D2D5;
}

#timer { 
    /* Border Properties */
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0% 4% 5% rgba(0, 0, 0, 0.25);
    border-radius: 1vh;

    /* Box Sizing */
    width: 60vw;
    height: auto;
    padding: 2.5vw 5vh 2.5vw 5vh;
    
    /* Positioning */
    margin: auto;
    position: relative;

    /* Color */
    background-color: #F49FB7;
    
}

#state {
    text-align: center;
    font-size: 50px;
} 

#clock {
    text-align: center;
    font-weight: 80%;
    font-size: 700%;
    line-height: 1%;
    color: #582323;
}

#startButton {

    /* Style */
    background-color: #F6D2D5;
    color: #582323;
    display: inline-block;

    /* Sizing */
    width: 10vw;
    padding: 1vh;

    /* Position */
    margin: auto;
    display: block;

    font-size: 4vh;

    /* Border */
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
}

#startButton:hover {
    background-color: #D46993;
    color: white;
}

#startButton:active {
    background-color: #D46993;
    box-shadow: 3px 3px 3px #3d3d3d;
    transform: translateY(4px);
}

#middleOfPage {
    /* Sizing */
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    align-items: center;
    width: 61.15vw;
    height: auto;

    /* Positioning */
    margin: auto;
    position: relative;
}

#currentTaskBox {

    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* Border Properties */
    
    border-radius: 10px;
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
    
    /* Box Sizing */
    width: 52.5vw;
    height: 30vh;
    padding: 2.5vw 5vh 2.5vw 5vh;
        
    /* Positioning */
    margin: 1vh;
    position: relative;

    /* Color */
    background-color: #F49FB7;
}

#currentTaskHeader {
    text-align: center;
    width: 100%;
    font-size: 5vh;
}

#check {
    display: inline-block;
    width: 4vw;
    height: 5vh;
    padding: 1vh;
    margin: 1vh;
    text-align: center;

    font-family: roboto;
    color: #582323;
    font-size: 2vh;

    /* Color */
    background-color: #F6D2D5;
    display: inline-block;
    
    /* Border Properties */
    border-radius: 1vh;
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#check:hover {
    background-color: #D46993;
}

#check:active {
    background-color: #D46993;
    box-shadow: 3px 3px 3px #3d3d3d;
    transform: translateY(4px);
}

#currentTask {
    /* Border Properties */
    border-radius: 1vh;
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Sizing */
    text-align: center;
    width: 25vw;
    height: 4vh;
    padding: 1vh;  

    /* Positioning */
    margin: 1vh;
    display: inline-block;


    /* Color */
    color: #582323;
    background-color: #F6D2D5;

    font-size: 2vh;
}

#currentPomos {
    /* Border Properties */
    border-radius: 1vh;
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    text-align: center;
    width: 4vw;
    height: 4vh;
    padding: 1vh;

    /* Positioning */
    margin: 1vh;
    display: inline-block;

    /* Color */
    background-color: #F6D2D5;

    font-size: 2vh;
}

#pomoCounter {
    /* Border Properties */
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;

    text-align: center;
    width: 12.5vw;
    padding: 2.5vw 5vh 2.5vw 5vh;
    height: 30vh;

    /* Positioning */
    margin: 1vh;

    /* Color */
    background-color: #F49FB7;
}

#workPeriodsHeader {
    font-size: 3vh;
    text-align: center;
}

#workPeriods {
    display: inline-block;
    font-size: 3vh;

    /* Border Properties */
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;

    /* Sizing */
    width: 5vw;
    padding: 1vh;

    /* Positioning */
    margin: 1vh;
    

    background-color: #F6D2D5;
}

#taskBox { 
    /* Border Properties */
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
    
    /* Box Sizing */
    width: 60vw;
    height: auto;
    padding: 2.5vw 5vh 2.5vw 5vh;
        
    /* Positioning */
    margin: auto;
    position: relative;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    /* Color */
    background-color: #F49FB7;
}

#innerTaskBox {
    /* Border Properties */
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;

    width: 40vw;
    height: auto;
    padding: 2.5vw 5vh 2.5vw 5vh;

    /* Positioning */
    margin: auto;
    position: relative;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    /* Color */
    background-color: #F6D2D5;
}

#addTask {
    /* Border Properties */
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;


    font-size: 25px;

    /* Sizing */
    width: 15vw;
    padding: 1vw;

    /* Position */
    margin: auto;
    display: block;

    background-color: #F49FB7;
    color: #582323;
}

#addTask:hover {
    background-color: #D46993;
    color: white;
}

#addTask:active {
    background-color: #D46993;
    box-shadow: 3px 3px 3px #3d3d3d;
    transform: translateY(4px);
}

#taskInput {
    /* Border Properties */
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;

    /* Box Sizing */
    width: 20vw;
    height: auto;
    padding: 2.5vw 5vh 2.5vw 5vh;
    
    /* Positioning */
    margin: auto;
    position: relative;

    /* Color */
    background-color: #F49FB7;
}

#taskPomos {
    width: 3vw;
}

#createTask {
    /* Border */
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;

    display: inline-block;
    font-size: 20px;
    border-radius: 1vh;

    /* Sizing */
    width: 10vw;
    padding: 1vh;

    /* Position */
    margin: auto;
    display: block;

    /* Style */
    background-color: #F6D2D5;
    color: #582323;
}

#createTask:hover {
    background-color: #D46993;
    color: white;
}

#createTask:active {
    background-color: #D46993;
    box-shadow: 3px 3px 3px #3d3d3d;
    transform: translateY(4px);

}

/* TaskList */

#taskList {
    list-style-type: none;
    width: 30vw;
    height: 30vh;
    overflow: hidden;
    overflow-y: scroll;
}

#activity {
    position: fixed;
    top: 15%;
    left: 30%;
    z-index: 1000;
    background-color: #F6D2D5;
    height: 600px;
    width: 600px;
    border: 2px solid black;
    border-radius: 5px;
}

#activityTitle {
    text-align: center;
}

#activityHeaders {
        /* Sizing */
        display: flex;
        flex-direction: horizontal;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: auto;
    
        /* Positioning */
        margin: auto;
        position: relative;
}

#totalWorkTime {
    position: relative;
}

#totalPomosCompleted {
    position: relative;
    margin-left: 120px;
}

#activityNumbers {
    /* Sizing */
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;

    /* Positioning */
    margin: auto;
    margin-top: 20px;
    position: relative;
}

#worktimes {
    /*position*/
    display: inline-block;
    width: 3vw;
    height: 4vh;
    margin-left: 1vw;
    padding: 2vh;

    /*border*/
    border: solid black;
    border-radius: 1vh;
    
    /*text*/
    text-align: center;
    font-size: 20px;
}

#totalCompletedTasks {
    display: inline-block;
    width: 3vw;
    height: 4vh;
    margin-left: 12vw;
    padding: 2vh;

    /*border*/
    border: solid black;
    border-radius: 1vh;
    
    /*text*/
    text-align: center;
    font-size: 20px;
}

#completedTasksListBox {
    /* Sizing */
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: auto;

    /* Positioning */
    margin: auto;
    margin-top: 50px;
    position: relative;
}

#completedTasksList {
    position: relative;
}

#estimatedPomos {
    position: relative;
    margin-left: 50px;
}

#actualPomos {
    position: relative;
    margin-left: 25px;
}

#completedTasks {
    list-style-type: none;
    width: 30vw;
    height: 30vh;
    overflow: hidden;
    overflow-y: scroll;
}


@media screen and (max-width: 800px) {
    #startButton {
        /* Sizing */
        width:  60%;
        height: 22%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    #middleOfPage {
        flex-direction: row;
        width: 100%;
    }

    #currentTaskBox {
        width: 80%;
        height: 170px;
        padding: 20px;
    }

    #pomoCounter {
        width: 20%
    }

    #taskBox { 
        width: 80%;
    }
    #innerTaskBox {
        width: 80%;
    }

} 