@font-face {
    font-family: livvic;
    src: url(fonts.googleapis.com/css?family=Livvic);
}

body {
    background-color: #F1F0F0;
    color: #582323;

    /* Account for header offset */
    padding-top: 10%;
    margin-bottom: 10%;
    /* Livvic font */
    font-family: livvic;
    font-size: 80%;

}


/* Barbz Timer */
#head {
    text-align: center;
    position: relative;
    font-size:220%;

    /* Box Sizing */
    width: 15%;
    height: auto;
    padding: 1%;
    margin: 0.5%;
    margin-left: 2%;

    /* Border Properties */
    background: #FEFCD7;
    border: 1px solid #582323;
    box-sizing: border-box;
    border-radius: 12px;

    color: #6B6C5A;

}

#barbz-header {
    /* Fix the header to the top of the page */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #6B6C5A;
    border: 1px solid #582323;
    box-sizing: border-box;
} 

/* Inner box*/
#timeBox {
    
    /* Border Properties */
    border-radius: 10px;

    position:relative;

    /* Box Sizing */
    width: 80%;
    
    
    /* Positioning */
    margin: auto;
    
    position: relative;
    
    /* Color */
    background-color: #C7C6B4;
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    
}

/* Outer box */
#timer {
    
    /* Border Properties */
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0% 4% 5% rgba(0, 0, 0, 0.25);
    border-radius: 21px;

    /* Box Sizing */
    width: 57%;
    height: 400px;
    
    /* Positioning */
    position: relative;
    margin: auto;

    /* Color */
    background-color: #6B6C5A; 
}

/*Current state in timer*/
#state {
    text-align: center;
    color: #FFFEFD;
    position: relative;
    font-size: 260%;
    margin-bottom: 2%;
} 

#clock {
    text-align: center;
    font-size: 10%;
    position: relative;

    font-family: livvic;
    
    font-weight: 80%;
    font-size: 700%;
    line-height: 1%;

    color:#6B6C5A;;

}

#startButton {
    /* Style */
    background-color: #C7C6B4;
    color: #6B6C5A;
    display: inline-block;
    font-family: livvic;
    font-size: 260%;
    border-radius: 5px;

    /* Sizing */
    width:  30%;
    height: 22%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    padding: 10px;
    
    /* Position */
    position:relative;
    /* margin: auto; */
    display: block;
    
    /* Border */
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

#startButton:hover {
    background-color: #FEFCD7;
    color: #6B6C5A;
}

#startButton:active {
    background-color: #FEFCD7;
    box-shadow: 3px 3px 3px #3d3d3d;
    transform: translateY(4px);
}

#middleOfPage {
    /* Sizing */
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    align-items: center;
    width: 58%;
    height: auto;

    /* Positioning */
    margin: auto;
    position: relative;
}

#currentTaskBox {
    /* Border Properties */
    border-radius: 10px;
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    
    /* Box Sizing */
    width: 80%;
    height: 170px;
    padding: 20px;
        
    /* Positioning */
    margin: 10px;
    position: relative;

    /* Color */
    background-color: #6B6C5A;
}

#currentTaskHeader {
    text-align: center;
    color: #FFFEFD;
}

#check {
    margin-top: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
}

#currentTask {
    /* Border Properties */
    border-radius: 10px;
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

    text-align: center;
    width: 80%;
    padding: 10px;
    height: 40%;

    /* Positioning */
    margin-top: 10px;
    display: inline-block;


    /* Color */
    background-color: #C7C6B4;
    color: #FFFEFD;


}

#pomoCounter {
    /* Border Properties */
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

    text-align: center;
    color: #FFFEFD;
    width: 200px;
    padding: 20px;
    height: 170px;

    /* Positioning */
    margin: 10px;

    /* Color */
    background-color: #6B6C5A;
}

#workPeriods {
    /* Border Properties */
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

    text-align: center;
    width: 50%;
    padding: 10px;
    height: 40%;

    /* Positioning */
    margin: 0px;
    display: inline-block;


    /* Color */
    background-color: #C7C6B4;

    font-size: 20px;
}

#taskBox { 
    /* Border Properties */

    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    
    /* Box Sizing */
    width: 57%;
    height: auto;
    padding: 25px 50px 25px 50px;
        
    /* Positioning */
    margin: auto;
    position: relative;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    /* Color */
    background-color: #6B6C5A;
    color: #FFFEFD;
}

#innerTaskBox {
    /* Border Properties */
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    

    width: 70%;
    height: auto;
    padding: 25px 50px 25px 50px;

    /* Positioning */
    margin: auto;
    position: relative;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    /* Color */
    background-color: #C7C6B4;
}

#taskList {
    margin: 0px;
    
}

.tasks {
    /* Border Properties */
    border: 1px solid #582323;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;

    /* Box Sizing */
    width: 200px;
    height: 40px;
    padding: 10px;

    margin: 5px;
    text-align: center;

    list-style-type: none;

    /* Color */
    background-color: #FEFCD7;
    color: #6B6C5A;
}

#addTask {
    /* Style */
    background-color: #FEFCD7;
    color: #6B6C5A;
    border: 1px solid #582323;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    display: inline-block;
    font-family: livvic;
    font-size: 240%;
    border-radius: 10px;

    /* Sizing */
    width: 175px;
    padding: 10px;
    
    /* Position */
    display: block;
}

#addTask:hover {
    background-color: #6B6C5A;
    color: white;
}

#addTask:active {
    background-color: #6B6C5A;
    box-shadow: 3px 3px 3px #3d3d3d;
    transform: translateY(4px);
}

/* Account for resizing of desktop*/
@media screen and (max-width: 800px) {
    #startButton {
        /* Sizing */
        width:  60%;
        height: 22%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    #head {
        /* Sizing */
        width: 40%;
    }
    #timer {
         /* Box Sizing */
        width: 90%;
        height: 400px;
    }
    #middleOfPage {
        flex-direction: column;
        width: 90%;
    }

    #currentTaskBox {
        width: 100%;
        height: 170px;
        padding: 20px;
    }
    #taskBox { 
        width: 90%;
    }
    #innerTaskBox {
        width: 90%;
    }

} 