#head {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#barbz-header {
    
    /* Border Properties */
    border: solid gray;
    border-radius: 100px;

    /* Box Sizing */
    width: 300px;
    height: 10px;
    padding: 50px;
    
    /* Positioning */
    margin: auto;
    position: relative;
}

#timeBox {
    
    /* Border Properties */
    border: solid gray;
    border-radius: 10px;

    /* Box Sizing */
    width: 400px;
    height: 125px;
    padding: 30px;
    
    /* Positioning */
    margin: auto;
    position: relative;
    
}

#timer {
    
    /* Border Properties */
    border: solid gray;
    border-radius: 10px;

    /* Box Sizing */
    width: 500px;
    height: 325px;
    padding: 25px 50px 25px 50px;
    
    /* Positioning */
    margin: auto;
    position: relative;
    
}

#state {
    text-align: center;
} 

#clock {
    text-align: center;
    font-size: 50px;
}

#startButton {
    /* Style */
    background-color: white;
    color: black;
    border: 2px solid black;
    display: inline-block;
    font-size: 25px;
    border-radius: 5px;

    /* Position */
    margin: auto;
    display: block;
}

#startButton:hover {
    background-color: rgb(245, 126, 229);
    color: white;
}

#startButton:active {
    background-color: rgb(245, 86, 224);
    box-shadow: 3px 3px 3px #3d3d3d;
    transform: translateY(4px);
}

#currentTaskBox {
    /* Border Properties */
    border: solid gray;
    border-radius: 10px;
    
    /* Box Sizing */
    width: 500px;
    height: auto;
    padding: 25px 50px 25px 50px;
        
    /* Positioning */
    margin: auto;
    position: relative;
}

#currentTaskHeader {
    text-align: center;
}

#check {
    width: 20px;
    height: 20px;
}

#currentTask {
    text-align: center;
}

#taskBox { 
    /* Border Properties */
    border: solid gray;
    border-radius: 10px;
    
    /* Box Sizing */
    width: 500px;
    height: auto;
    padding: 25px 50px 25px 50px;
        
    /* Positioning */
    margin: auto;
    position: relative;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

#taskList {
    margin: 0px;
}

.tasks {
    /* Border Properties */
    border: solid gray;
    border-radius: 10px;

    /* Box Sizing */
    width: 200px;
    height: 10px;
    padding: 10px;

    margin: 5px;
    text-align: center;

    list-style-type: none;
}

#addTask {
    /* Style */
    background-color: white;
    color: black;
    border: 2px solid black;
    display: inline-block;
    font-size: 25px;
    border-radius: 5px;

    /* Position */
    margin: auto;
    display: block;
}

#addTask:hover {
    background-color: rgb(245, 126, 229);
    color: white;
}

#addTask:active {
    background-color: rgb(245, 86, 224);
    box-shadow: 3px 3px 3px #3d3d3d;
    transform: translateY(4px);
}
